.account-page {
    .account-page-tabs {
        .ui.segment.active.tab {
            border: 0px solid transparent;
            padding: 0px;
            margin: 0px;
            position: relative;
            top: -40px;
        }
    }
}