.workbench {
    overflow: hidden;
    .module-tabs {
        margin-bottom: 0px;
        border-radius: 0px;
        border-bottom: 1px solid grey !important;
        min-height: initial !important;
        .item {
            border-radius: 0px !important;
            padding-top:    7px;
            padding-bottom: 7px;
        }
    }
    .columnResizer {
        width: 5px;
        background: blue;
    }
    
    .frame-td {
        overflow: hidden;
    }
    
    .monaco-editor {
        font-family: Menlo, Monaco, "Courier New", monospace !important;
        div, span {
            font-family: Menlo, Monaco, "Courier New", monospace !important;
        }
        .margin {
            user-select: none;
        }
    }
    .alert-messages {
        position: fixed;
        left: 0px;
        bottom: 0px;
        z-index: 100;
        padding: 20px;
        user-select: none;
    }
}


