h1, h2, h3, h4, h5, p, li, ul, strong, i, a, label {
    font-family: Europa;
}

.app {
    .page-content {
    }
}

.ui.button.toggle.active, .ui.buttons .button.toggle.active, .ui.toggle.buttons .active.button {
    background-color: #A882BA !important;
    &.basic {
        background-color: rgba(255,255,255,0.4) !important;
    }
    
}

.ui.label {
    font-family: Europa;
}

.ui.input {
    input {
        font-family: Europa;
    }
    button.ui.button {
        font-family: Europa;
    }
}

button.ui.button {
    font-family: Europa;
}